@page
@model HairSalon.Web.Pages.Appointments.IndexModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor﻿
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-page="CreateService">Book new appointment</a>
</p>
<div>
    status
<li class="nav-item dropdown me-3">
    <a class="nav-link dropdown-toggle" href="#" id="blogDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        All
    </a>
    <ul class="dropdown-menu" aria-labelledby="blogDropdown">
        <li><a class="dropdown-item" asp-page="/Blog">Blog</a></li>
        <li><a class="dropdown-item" asp-page="/SingleBlog">Single Blog</a></li>
    </ul>
</li>
</div>
@if (Model.Appointment != null && Model.Appointment.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Appointment[0].AppointmentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointment[0].StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointment[0].EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointment[0].StylistName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointment[0].Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointment[0].AppointmentStatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Appointment)
            {
                if (item.AppointmentStatus == "VERIFIED")
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AppointmentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            <a asp-page="./StylistDetail" asp-route-stylistId="@item.StylistId" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.StylistName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AppointmentStatus)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <p>No appointments available.</p>
}
